.phone {
	background-color:#c9c1a7;
}
.reals_content {
	width:1440px;
	margin:0px auto 0 auto;

}
.main-content {
	width:1440px;
	margin:0px auto -10px auto;
	background-color: #c9c1a7;
	background-image: url(../img/train.jpg);
	background-repeat: repeat;
	background-position: 20px 150px;
	-webkit-box-shadow:0  0px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0  0px 10px rgba(0, 0, 0, 0.6);
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.6);
	-moz-border-radius:5px / 50px;
	//border-radius:5px / 50px;
}
.reals {
	position:fixed;
	background-image: url(../img/reals.png);
	background-repeat: repeat-y;
	width:37px;
	height:100%;
	margin-left:45px;
	top:0;
}
.reals:after {
	clear:both;
	content: " ";
	display: block;
}
.train {
	float:left;
	margin-top:400px;
}
.train-text {
	float:left;
	margin-top:325px;
}
.train-before:before {
	content: " ";
	display:block;
	position:absolute;
	margin-top:420px;
	margin-left:37px;
	width:0;
	height:0;
	border-bottom:20px solid rgba(255, 255, 255, 0.6);
	border-left:12px solid transparent;
}
.train-text {
	font-family: 'Open Sans Light', arial;
	position:absolute;
	float:left;
	width:158px;
	padding-left:12px;
	padding-right:12px;
	background-color: rgba(255, 255, 255, 0.6);
	font-size:20px;
	color:#3a352c;
	line-height:56px;
	margin-left:49px;
}
.train-text img {
	float:right;
	margin-top:10px;
}
.footer {
	background-image: url(../img/footer-bg.png);
	background-repeat:repeat-x;
	height: 122px;
	position:absolute;
}
.footer-content {
	width:1440px;
	height:100%;
	margin: 0 auto;
}
.not-found {
	height: 660px;
}

.not-found h3 {
	margin: 80px auto;
	width: 455px;
}
