body {
	margin:0;
	padding:0;
	width: 100%;
  height: 100%;
}
html {
	width: 100%;
  height: 100%;
}

p {
	margin:0;
	padding:0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
li {
	margin:0;
	padding:0;
	list-style:none;
}
* { 
  vertical-align: baseline; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
}

html, body { 
  padding: 0; 
  margin: 0; 
  } 
html { 
  font-size: 1em; 
  } 
a img, :link img, :visited img { 
  border: 0; 
  }  
input {
	border:none;
	outline:none;
}
button {
	border:none;
	outline:none;
}
img {
	display:block;
	border:none;
	outline:none;
}