@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext,cyrillic);
body {
	background-image: url(../img/body_bg.jpg);
	background-repeat:repeat;
}
.header {
	background-image:url(../img/header_bg2.png), url(../img/header_bg.png);
	background-repeat:repeat-x, repeat-x;
	background-position:50% 75%, center;
	height:298px;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
}
.main-content {
	margin-top:283px;
}
.phone {
	width: 1440px;
	margin: 0 auto;
	background-image: url(../img/train.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.phone_content {
	width: 600px;
	height: 189px;
	background-image: url(../img/clouds.png);
	background-repeat: no-repeat;
	position: relative;
	z-index: 3;
	top: -80px;
	left: 338px;
	padding-top: 69px;
	padding-left: 95px;
}
.phone_content a {
	text-decoration:none;
	color:#38342d;
}
.phone_content a:hover {
	text-decoration: underline;
}
.margin-left_phone {
	margin-left:10px;
}
.margin-left_phone:last-child {
	margin-top:3px;
}
.phone_content___telephone {
	color: #39352c;
	font-family: 'Open Sans Light', arial;
	font-size: 24px;
	line-height: 24px;
	margin-bottom:14px;
}
.phone_content {
	color: #38342d;
	font-family: 'Open Sans', arial;
	font-size: 14px;
	line-height: 14px;
}
.welcom {
	width: 1440px;
	background-color: rgba(244, 242, 234, 0.85);
	margin-top: 290px;
	padding-top: 20px;
	padding-bottom: 2px;
}
.event_title {
	font-family: 'Open Sans Light', arial;
	font-style:light;
	color:  #39352d;
	font-size: 40px; 
	line-height: 40px;
	padding:17px 0 13px 19px;
	border-bottom: 2px solid #302d24;
	width:820px;
}
.welcom_title {
	font-family: 'Open Sans', arial;
	color:  #39352d;
	font-size: 40px; 
	line-height: 40px;
	padding:17px 0 13px 19px;
	border-bottom: 2px solid #302d24;
	width:820px;
}
.welcom_text, .event_text {
	font-family: 'Open Sans Light', arial;
	color:  #3d3830;
	font-size: 20px; 
	line-height: 23px;
	padding: 13px 0 40px 19px;
}
.welcom_content, .event_content {
	width: 840px;
	margin:0 auto;
	border-left: 2px solid #302d24;
	padding-left:4px;
}
.event {
	width: 1440px;
	background-color: #c9c1a7;
	margin: 0 auto;
	padding:27px 0;
	border-style: solid;
	border-width: 0px 0px 10px;
	-moz-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-webkit-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-o-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	border-image: url(../img/border-train-bottom.png) 0 0 10 3 fill repeat;
	box-sizing:border-box;
}
.event_footer {
	margin:27px auto 0 auto;
	border:2px solid #302d24;
	padding: 14px 24px;
	width: 800px;
	font-family: 'Open Sans Light', arial;
	color:  #39352d;
	font-size: 40px; 
	line-height:40px;
}
.event_footer span {
	color:#b76000;
}
.mass_title_data {
	margin:20px 0 15px 0;
}
.mass {
	width: 1440px;
	background-repeat: no-repeat;
	background-color: #c9c1a7;
	background-image: url(../img/mass-bg.jpg);
	padding-bottom:20px;
	background-size:cover;
	background-position: center;
}
.mass_title{
	font-family: 'Open Sans', arial;
	color:  #ffffff;
	font-size: 20px;
	text-align: center;
	padding-bottom:20px;
	border-width: 4px 0px 0px;
	-moz-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-webkit-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-o-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	border-image: url(../img/border-train-top.png) 4 0 0 3 fill repeat;
	border-style: solid;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
}
.mass_content {
	width: 1187px;
	background-image: url(../img/strelka.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:30px 23px 14px 23px;
	margin: 0 auto 0 140px;
}
.mass_title__slogan {
	font-family: 'Open Sans Light', arial;
	color:  #d7852a;
	font-size: 40px;
	line-height: 74px;
	text-transform: uppercase;
	background-image: url(../img/ribbon-culture.png);
	width: 1440px;
	height: 85px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom:14px;
}
.mass_content__text {
	float:left;
	margin-left:46px;
}
.mass_content:after {
	clear:both;
	content: " ";
	display: block;
}
.mass_content__text p {
	font-family: 'Open Sans Light', Arial;
	color: #000;
	font-size: 20px;
	line-height:25px;
	width: 910px;
	margin: 0 auto;
}
.mass_content__firstnumber {
	border-bottom: 2px solid #322d25;
	width: 140px;
}
.mass_content__lastnumber {
	width: 140px;
}
.mass_content__number {
	width: 150px;
	height: auto;
	float: left;
	padding:32px 0;
	border-right: 2px solid #322d25;
}
.mass_content__month {
	font-size:17px;
	line-height:17px;
	font-family: 'Open Sans Light', Arial;
	text-align:center;
}
.mass_content__number-p{
	font-family: 'Open Sans Light', Arial;
	color:  #302d24;
	font-size: 60px;
	line-height: 75px;
	text-align: center;
}
.sity {
	width: 1440px;
	height: 410px;
	margin: 0 auto;
	background-image: url(../img/city-bg.jpg);
	border-style: solid;
	border-width: 0px 0px 10px;
	-moz-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-webkit-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-o-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	border-image: url(../img/border-train-bottom.png) 0 0 10 3 fill repeat;
	box-sizing:border-box;
}
.realy {
	width: 1440px;
	height: auto;
	background-color: #73655a;
	margin: 0 auto;
	padding:27px 0;
	border-style: solid;
	border-width: 4px 0px 0px;
	-moz-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-webkit-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-o-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	border-image: url(../img/border-train-top.png) 4 0 0 3 fill repeat;
	box-sizing:border-box;
}
.time {
	width: 1440px;
	height: auto;
	background-image: url(../img/pre-footer.jpg);
	margin: 0 auto;
	
}
.time_border {
	padding:27px 0;
	border-style: solid;
	border-width: 7px 0px 0px;
	-moz-border-image: url(../img/bg-bottom.png) 7 0 0 3 repeat;
	-webkit-border-image: url(../img/bg-bottom.png) 7 0 0 3 repeat;
	-o-border-image: url(../img/bg-bottom.png) 7 0 0 3 repeat;
	border-image: url(../img/bg-bottom.png) 7 0 0 3 fill repeat;
	box-sizing:border-box;
}
.realy_title, .time_title {
	font-family: Open Sans Light, Arial;
	color:  #e3d8c0;
	font-size: 40px;
	line-height: 40px;
	padding:17px 0 13px 19px;
	border-bottom: 2px solid #e3d8c0;
	width:820px;
}
.realy_text, .time_text {
	font-family: Open Sans Light, Arial;
	color:  #e3d8c0;
	font-size: 17px; 
	line-height:25px;
	font-weight: 300;
	font-style:normal;
	padding: 13px 0 40px 19px;
}
.realy_text {
	padding: 13px 0 40px 49px;
}
.realy_text  li {
	list-style-type: decimal;
}
.realy_content, .time_content {
	width: 840px;
	margin:0 auto;
	border-left: 2px solid #e3d8c0;
	padding-left:4px;
}
.people {
	width: 1440px;
	margin: 0 auto;
	background-color: #e3d8c0;
	padding-top: 25px; 
	border-style: solid;
	border-width: 4px 0px 0px;
	-moz-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-webkit-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	-o-border-image: url(../img/border-train-top.png) 4 0 0 3 repeat;
	border-image: url(../img/border-train-top.png) 4 0 0 3 fill repeat;
	box-sizing:border-box;
}
.people_title {
	width: 1440px;
	height: 106px;
	background-image: url(../img/ribbon-people.png);
	background-position: center;
	background-size: 980px 100%;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	padding-top: 10px;
}
.name {
	border-bottom: 2px solid #322d25;
	font-family: Open Sans Light, Arial;
	font-size: 25px; 
	margin-top: 18px;
	padding-left:46px;
}
.name  span {
	font-size:40px;
	font-family: Open Sans Light, Arial;
}
.photo-text {
	padding-top:4px;
	padding-left:150px;
	font-size:17px;
	font-family: Open Sans Light, Arial;
	margin-bottom:14px;
}
.last-p:last-child {
	margin-bottom:0;
}
.text-text p, .text-text-2 p {
	margin-bottom:30px;
}
.photo-text-2 {
	padding-top:4px;
	padding-right:150px;
	font-size:17px;
	font-family: Open Sans Light, Arial;
	margin-bottom:14px;
}
.clear {
	display:block;
	content: " ";
	clear: both;
}
.photo-text:after, .photo-text-2:after{
	content: ' ';
	clear: both;
	display: block;
	height: 0;
}
.photo-photo {
	width: 204px;
	height: 256px;
	float: left;
}
.photo-photo-2 {
	width: 204px;
	height: 256px;
	float: right;
}
.text-text {
	float: right;
	padding-top: 35px;
	width:300px;
}
.text-text-2 {
	float: left;
	padding-top: 35px;
	width:300px;
}
.people_title p {
	font-family: Open Sans Light, Arial;
	color: #c76900;
	font-size: 33px; 
	text-align: center;
}
.people_content:after{
	content: ' ';
	display: block;
	clear: both;
} 
.people_text_p {
	margin-bottom:25px;
	font-family: Open Sans Light, Arial;
	font-size:20px;
}
.people_text_p:last-child {
	margin-bottom:0;
}
.people_text_content {
	width:580px;
	margin-left:30px;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.people_content__kruglov:before {
	content: ' ';
	display: block;
	position: relative;
	right: 6px;
	height: 275px;
	width: 2px;
	background-color: #322d25;
	float: left;
}
.people_content__holodov:before{
	content: ' ';
	display: block;
	position: relative;
	left: 704px;
	height: 275px;
	width: 2px;
	background-color: #322d25;
	float: left;
}
.name-last {
	padding-left:45px;
}
.name-first {
	padding-right:45px;
}
.first-text {
	padding-right:27px;
}
.last-text {
	padding-left:27px;
}
.people_content__holodov {
	width: 700px;
	height: auto;
	float: left;
	text-align: right;
	font-family: 'open_sanslight' sans-serif;
	color:  #322d25;
	font-size: 15px;
	font-weight: 300;
}

.people_content__kruglov {
	width: 700px;
	height: auto;
	float: right;
	text-align: left;
	font-family: 'open_sanslight' sans-serif;
	color:  #322d25;
	font-size: 15px;
	font-weight: 300;
}
.people_footer {
	font-family: Open Sans Light, Arial;
	color: #c76900;
	text-align:center;
	font-size: 25px;
	line-height: 30px;
	padding: 40px 0;
	border-style: solid;
	border-width: 0px 0px 10px;
	-moz-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-webkit-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	-o-border-image: url(../img/border-train-bottom.png) 0 0 10 3 repeat;
	border-image: url(../img/border-train-bottom.png) 0 0 10 3 fill repeat;
	box-sizing:border-box;
}
.people_footer_content {
	width: 810px; 
	margin: 0 auto;
}